.list-item {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin: 32px;
    font-weight: bold;
    border: 1px solid lightgrey;
    border-radius: 8px;
    width: fit-content;
}

.list-item-content {
    padding: 16px;
}

.list-item img {
    width: 200px;
    border-radius: 8px 8px 0 0;
}

.container {
    width: 400px;
}
